* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", san-serif;
}

.box-contain_form,
.black-box {
	background: rgba(90, 90, 90, 0.253);
	margin: 0 20px 20px 20px;
}

.box-contain_form > p,
.black-box > p {
	color: var(--white-color);
	margin: 30px 0 -10px 30px;
}

form {
	padding: 30px;
	display: flex;
	flex-direction: column;
	width: 92%;
	justify-content: center;
}

form > input {
	padding: 10px;
	background: rgba(90, 90, 90, 0.459);
	margin: 5px 0;
	border: none;
	color: var(--white-color);
}

form > input:last-child {
	background-color: var(--light-blue);
	color: var(--white-color);
	margin-top: 10px;
	width: 25%;
	text-align: center;
}

.black-box-media {
	margin: 30px 50px !important;
}

.box {
	margin-bottom: 50px !important;
}

.black-box-work-platforms {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 10px;
	margin: 50px;
}

.black-box-work-platforms > a > img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	opacity: 0.6;
	transition: 0.5s;
}

.black-box-work-platforms > a > img:hover {
	scale: 105%;
	object-fit: cover;
	opacity: 1;
}
